* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background: #eee;
}

.container-main {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar {
    margin: -1% 0 -1% -1%;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 450px;
    color: white;
    background-image: url('./images/background.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 1;
}

.inline-image {
    display: inline-flex;
    box-sizing: border-box;
    font-family: norse;
    font-size: 128px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding: 20px;
}

.container-form {
    padding: 0px;
}

h2, p {
    padding: 20px;
}

div form {
    padding: 03%;
    margin: 0%;
    background-color: white;
    width: 100%;
}

label {
    text-transform: uppercase;
}

label.required::after {
    content: '*';
    color: orangered;
    font-size: 1rem;
}

.fielditem {
    display: flex;
    flex-direction: column;
}

input {
    flex: 1 1 0;
    min-width: 250px;
    max-width: 400px;
}

.fieldline {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    background-color: #596D48;
    appearance: none;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    color: aliceblue;
}

button[type='submit'] {
    margin-left: 20px;
}

button:hover{
    background-color: #8a977f;
}