/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container-main {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar {
    margin: -10px 0px -10px -10px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 450px;
    color: white;
    background-image: url('./images/background.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 1;
}

.inline-image {
    display: inline-flex;
    box-sizing: border-box;
    font-family: norse;
    font-size: 128px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding: 20px;

}

.container-form {
    padding: 20px;
}

label {
    text-transform: uppercase;
}